# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64

matplotlib~=3.8.4
numpy~=1.26.4
pandas~=2.1.1
scipy~=1.13.0
scikit-image~=0.20.0
tqdm~=4.66.2
scikit-learn~=1.2.2
py-opencv~=4.9.0
opencv~=4.9.0
torchvision~=0.17.2
pillow~=10.3.0